<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add product</title>
</head>
<body>

<div>
    <!--<div th:replace="fragments/menu :: menu"></div>-->
    <div class="container">
        <form th:object="${product}" th:action="@{/product/addProduct}" method="post">
            <table>

                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{productName}"/></td>
                    <td th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></td>
                </tr>
                <tr>
                    <td>Product Description:</td>
                    <td><input type="text" th:field="*{description}"/></td>
                    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" th:field="*{price}"/></td>
                    <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
                </tr>
                <tr>
                    <td>Product Type:</td>
                    <td><select th:field="*{productType}">
                        <option th:each="product : ${T(com.example.coffeeshop.domain.ProductType).values()}"
                                th:value="${product}"
                                th:utext="${product}"/>
                    </select></td>
                </tr>
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

</body>
</html>