<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Person</title>
</head>
<body>

<div>
    <!--<div th:replace="fragments/menu :: menu"></div>-->
    <div class="container">
         <form th:object="${person}" th:action="@{/person/addPerson}" method="post">
            <table>

                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}"/></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{lastName}"/></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}"/></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" th:field="*{address.city}"/></td>
                    <td th:if="${#fields.hasErrors('address')}" th:errors="*{address.city}"></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" th:field="*{address.state}"/></td>
                    <td th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td><input type="text" th:field="*{address.zipcode}"/></td>
                    <td th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}"></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" th:field="*{address.country}"/></td>
                    <td th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" th:field="*{phone}"/></td>
                    <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
                </tr>

                <tr>
                    <td>Enable:</td>
                    <td><input type="radio" value="1" name="Enable" th:checked = "*{enable}"/>Enable</td>
                    <td><input type="radio" value="0" name="Enable" th:checked = "*{enable}" />Disable</td>
                </tr>
                <!--<tr>-->
            <!--<td>Product Type:</td>-->
            <!--<td><select th:field="*{}">-->
            <!--<option th:each="product : ${T(com.example.coffeeshop.domain.ProductType).values()}"-->
            <!--th:value="${product}"-->
            <!--th:utext="${product}"/>-->
            <!--</select></td>-->
            <!--</tr>-->
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

</body>
</html>