<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Cart</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3 class="panel-title">Cart</h3>

<div class="row" th:if="${#lists.size(currentUserOrder.orderLines) > 0}">
    <form  method="post">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="item" th:each="myCartOrderLine, stat: *{currentUserOrder.orderLines}">
                <td th:text="${myCartOrderLine.product.productName}"></td>
                <td th:text="${myCartOrderLine.product.productType}"></td>
                <td th:text="${myCartOrderLine.product.price}"></td>
                <td><input type="number" placeholder="1" class="input-mini"
                           th:field="*{currentUserOrder.orderLines[__${stat.index}__].quantity}"/></td>
                <td>
                    <a th:href="@{'/order/deleteOrder/' + ${myCartOrderLine.product.id}}" class="btn btn-default">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/order/confirmation}" class="btn btn-default">Confirm</a>
    </form>
</div>

</body>
</html>